<!-- Menu Grid Tabs
        ============================================= -->
<div id="menu_tabs" class="menu_tabs text-center page-order">
  <!-- Menu Bar -->
  <div class="menu-bar dark">
    <!-- menu Filter
                ============================================= -->
    <!--<ul id="menu-fillter" class="clearfix">-->
      <!--<li>-->
    <div class="container">
      <button class="btn btn-gold h-left menu-bar__btn-left" *ngIf="order.state != 'send'" [routerLink]="['Products']"><</button>
      <h2 class="menu-bar__title">Мой заказ</h2>
    </div>
      <!--</li>-->
    <!--</ul>-->
    <!-- #menu-filter end -->
  </div>
  <!-- End menu bar -->

  <!-- Menu Items -->
    <div class="container">
      <div id="menu-items">
        <div class="text-left">
          <!-- Menu Item -->
          <h2 *ngIf="!(order.list | objLength) && (order.state == 'add')">Пусто</h2>
          <!--<h2 *ngIf="order.isOrderSend">Ваш заказ принят.</h2>-->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" *ngIf="order.state == 'add'">
          <!-- Table wishlist -->
          <table class="table table-striped table-responsive table-cart">
            <tbody>
              <tr *ngFor="let product of (order.list | objArray)">
                <td><a href="menu_single"><img src="{{ (product.image) ? http.getUrl(product.image) : '/frontend/assets/img/app/img-not_product.jpg' }}" alt=""> {{ product.title }}</a> </td>
                <td class="page-order__column-price">
                  <widget-order-btn [product]="product"></widget-order-btn>
                </td>
                <td>{{ product.count*product.price }} руб.</td>
                <td><a class="pull-right h__cursor_pointer" (click)="order.removePosition(product)"><i class="fa fa-times"></i></a></td>
              </tr>
            </tbody>
          </table>
          <!-- End Table wishlist  -->
        </div>

        <div class="col-md-12" *ngIf="order.state == 'form'">
          <form class="text-left" [ngFormModel]="order.form">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Номер стола" ngControl="table" [(ngModel)]="order.table" required maxlength="2"> <!--[pattern]="app.params.patterns.int"-->
              <br>* указан на табличке на столе
            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Ваше имя" ngControl="name" [(ngModel)]="order.name" required minlength="3" maxlength="20">
            </div>
            <div class="form-group">
              <label>Способ оплаты:</label>
              <br>
              <input type="radio" name="payment" value="card" ngControl="payment" (click)="order.payment = 'card'" [checked]="order.payment == 'card'"> - карта<br>
              <input type="radio" name="payment" value="cash" ngControl="payment" (click)="order.payment = 'cash'" [checked]="order.payment == 'cash'"> - наличные
            </div>
          </form>
        </div>

        <div class="col-md-12" *ngIf="order.state == 'send'">
          <h2>
            {{ order.name }},<br>
            Ваш заказ отправлен!<br>
            <br>
            Вы заказали:<br>
          </h2>

          <table class="table table-striped table-responsive table-cart">
            <tbody>
              <tr *ngFor="let product of (order.listSend | objArray)">
                <td><a href="menu_single"><img src="{{ (product.image) ? http.getUrl(product.image) : '/frontend/assets/img/app/img-not_product.jpg' }}" alt=""> {{ product.title }}</a> </td>
                <td>x{{ product.count }}</td>
                <td>{{ product.count*product.price }} руб.</td>
              </tr>
              <tr>
                <td>Итого:</td>
                <td></td>
                <td>{{ order.totalSend.price }} руб.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  <!-- #menu end -->
</div>
<!-- End Menu Grid -->