<!-- Menu Grid Tabs
        ============================================= -->
<div id="menu_tabs" class="menu_tabs text-center">
  <!-- Menu Bar -->
  <div class="menu-bar dark">
    <!-- menu Filter
                ============================================= -->
    <ul id="menu-fillter" class="clearfix">
      <li *ngFor="let category of menu; let index = index;" [ngClass]="{activeFilter: (curCategory == index)}"><a (click)="setCurCategory(index)">{{ category.title }}</a></li> <!-- data-filter=".pf-category-{{index}}" -->
    </ul>
    <!-- #menu-filter end -->
  </div>
  <!-- End menu bar -->
  <!-- Menu Items
                ============================================= -->
  <div class="container">
    <!-- Menu Items Masonary Content -->
    <div id="menu-items">
      <div *ngFor="let category of menu; let index = index;">
        <div class="text-left" *ngIf="((curCategory == index) || (curCategory == 0)) && (index != 0)">
          <h2>{{ category.title }}</h2><br>
          <!-- Menu Item -->
          <article class="menu-item-list col-md-6 col-sm-12" *ngFor="let product of category.products"> <!-- .pf-category-0 -->
            <div class="item-img">
              <div class="overlay_content">
                <!-- Overlay Item -->
                <div class="overlay_item">
                  <img src="{{ (product.image) ? http.getUrl(product.image) : '/frontend/assets/img/app/img-not_product.jpg' }}" alt="">
                  <!-- Overlay -->
                  <div class="overlay">
                    <!-- Icons -->
                    <div class="icons">
                      <!-- Buttons -->
                      <div class="button"> <a href="frontend/assets/img/menu/breakfast_1.jpg" rel="lightbox"><i class="fa fa-expand"></i></a> <a href="#"><i class="fa fa-shopping-cart"></i></a> </div>
                      <!-- End Buttons -->
                      <a class="close-overlay hidden">x</a> </div>
                    <!-- End Icons -->
                  </div>
                  <!-- End Overlay -->
                </div>
                <!-- End Overlay Item -->
              </div>
            </div>
            <div class="item-desc">
              <h3><a >{{ product.title }}</a></h3> <!-- [routerLink]="['Product', {id: 1}]" -->
              <p>{{ product.weight }}</p>
              <p>{{ product.description }}</p>
              <widget-order-btn [product]="product"></widget-order-btn>
            </div>
          </article>
          <!-- End Menu Item -->
        </div>
      </div>
    </div>
    <!-- End Menu Content -->
  </div>
  <!-- #menu end -->
</div>
<!-- End Menu Grid -->